* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

svg {
  height: 100%;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #811733;
  color: #fff;
  position: relative;
  overflow: hidden;
}

body .container {
  width: 100%;
  height: 100%;
}

body .container header {
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  z-index: 999;
}

body .container header nav {
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container header nav .main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container header nav .main .image {
  width: 50px;
  height: 36px;
}

body .container header nav .main .image img {
  width: 100%;
  height: 100%;
  float: left;
}

body .container header nav .main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 28px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

body .container header nav .main ul li {
  padding-right: 15px;
  cursor: pointer;
}

body .container header nav .main ul li:hover a::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

body .container header nav .main ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  position: relative;
  text-transform: uppercase;
}

body .container header nav .main ul li a.active {
  background-image: linear-gradient(225deg, #a431a1, #e84348 51%, #fbb031);
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
}

body .container header nav .main ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1.5px;
  background-color: #fff;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body .container header nav .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

body .container header nav .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-right: 32px;
}

body .container header nav .social ul li {
  width: 20px;
  height: 20px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
  margin-left: 8px;
  border: 1.5px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  background-color: #b61943;
}

body .container header nav .social ul li img {
  height: 70%;
}

body .container header nav .social ul .fb:hover {
  background-color: #2885e1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body .container header nav .social ul .twi:hover {
  background-color: #3ca9ef;
}

body .container header nav .social ul .insta:hover {
  background-image: linear-gradient(225deg, #a431a1, #e84348 51%, #fbb031);
}

body .container header nav .social .menu {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

body .container header nav .social .menu .ripple {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
}

body .container header nav .social .menu .ripple.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -40%;
  left: -40%;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  padding: 10px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: menuClick 0.6s  ease;
          animation: menuClick 0.6s  ease;
}

body .container header nav .social .menu .menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  height: 14px;
  cursor: pointer;
}

body .container header nav .social .menu .menu-wrapper .hamburger-menu {
  position: relative;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  background: white;
  -webkit-transition: all 0ms 300ms;
  transition: all 0ms 300ms;
  width: 24px;
  height: 2px;
}

body .container header nav .social .menu .menu-wrapper .hamburger-menu:after, body .container header nav .social .menu .menu-wrapper .hamburger-menu:before {
  width: 24px;
  height: 2px;
}

body .container header nav .social .menu .menu-wrapper .hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  background: white;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

body .container header nav .social .menu .menu-wrapper .hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  background: white;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

body .container header nav .social .menu .menu-wrapper .hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}

body .container header nav .social .menu .menu-wrapper .hamburger-menu.animate:after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

body .container header nav .social .menu .menu-wrapper .hamburger-menu.animate:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

body .container main {
  min-width: 1280px;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .container main .content img {
  height: 160px;
}

body .container main .content h5 {
  padding-top: 17px;
  padding-bottom: 32px;
}

body .container main .content .button {
  width: 212px;
  height: 61px;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 999px;
  -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);
  border: 5px solid #b61943;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container main .content .button:hover .wrap .span {
  background-color: #ff9009;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

body .container main .content .button:hover {
  cursor: pointer;
}

body .container main .content .button .wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9999px;
  background-color: #ffb256;
  border: 5px solid #ffb256;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container main .content .button .wrap .span {
  background-color: #ffa02c;
  padding: 16.5px 13px;
  border-radius: 99px 0px 0px 99px;
  width: 67%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-weight: 500;
}

body .container main .content .button .wrap .chat {
  width: 33%;
  height: 100%;
  background: #ff9009;
  border-radius: 0px 99px 99px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container main .content .button .wrap .chat img {
  width: 50%;
  height: 50%;
}

body .container main .girl {
  width: 500px;
  height: 755px;
}

body .container main .girl .ilistration {
  width: 100%;
  height: 100%;
  position: relative;
}

body .container main .girl .ilistration img {
  height: 100%;
}

body .animation-page {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 99;
}

body .animation-page.reverse {
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body .animation-page header {
  position: absolute;
  top: 0;
  z-index: 999;
}

body .animation-page .left, body .animation-page .right {
  width: 50%;
  height: 100%;
  position: absolute;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

body .animation-page .left {
  background-color: #811733;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
}

body .animation-page .left.anime {
  -webkit-animation: leftBg 0.3s forwards ease;
          animation: leftBg 0.3s forwards ease;
}

body .animation-page .left .placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 65px;
  opacity: 0;
}

body .animation-page .left .placeholder:nth-child(1).anime2 {
  -webkit-animation: leftEle 0.3s forwards ease-in-out;
          animation: leftEle 0.3s forwards ease-in-out;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

body .animation-page .left .placeholder:nth-child(2).anime2 {
  -webkit-animation: leftEle 0.3s forwards ease-in-out;
          animation: leftEle 0.3s forwards ease-in-out;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

body .animation-page .left .placeholder:nth-child(3).anime2 {
  -webkit-animation: leftEle 0.3s forwards ease-in-out;
          animation: leftEle 0.3s forwards ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

body .animation-page .left .placeholder .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .animation-page .left .placeholder .icon img {
  height: 22px;
}

body .animation-page .right {
  background-color: #74152e;
  right: 0;
  top: 0;
}

body .animation-page .right.anime {
  -webkit-animation: leftBg 0.3s forwards ease;
          animation: leftBg 0.3s forwards ease;
}

body .animation-page .right .place {
  margin-bottom: 65px;
  opacity: 0;
}

body .animation-page .right .place:nth-child(1).anime2 {
  -webkit-animation: leftEle 0.3s forwards ease-in-out;
          animation: leftEle 0.3s forwards ease-in-out;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

body .animation-page .right .place:nth-child(2).anime2 {
  -webkit-animation: leftEle 0.3s forwards ease-in-out;
          animation: leftEle 0.3s forwards ease-in-out;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

body .animation-page .right .place:nth-child(3).anime2 {
  -webkit-animation: leftEle 0.3s forwards ease-in-out;
          animation: leftEle 0.3s forwards ease-in-out;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.place {
  padding-left: 12px;
}

.place .large {
  width: 200px;
  height: 20px;
  border-radius: 10px;
  background-color: #ccc;
  margin-bottom: 8px;
}

.place .same {
  height: 6px;
  border-radius: 10px;
  background-color: #ccc;
}

.place .medium {
  width: 150px;
  margin-bottom: 4px;
}

.place .small {
  width: 100px;
}

@-webkit-keyframes menuClick {
  0% {
    background-color: #fff;
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    background-color: #fff;
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes menuClick {
  0% {
    background-color: #fff;
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    background-color: #fff;
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes leftBg {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes leftBg {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes leftEle {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes leftEle {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes rightBg {
  0% {
    right: -262px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}

@keyframes rightBg {
  0% {
    right: -262px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
}

@keyframes anime {
  0% {
    opacity: 0;
  }
}

section {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
}

section .wheel {
  width: 100%;
  height: calc(100vh - 70px);
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */
